<%= simple_form_for @recipe do |f|%>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :image, as: :file %>

  <div class="row">
    <div class="col m6">
      <h3>Ingredirents</h3>
        <div id="ingredients">
          <%= f.simple_fields_for :ingredients do |ingredient| %>
            <%= render 'ingredient_fields', f: ingredient %>
            <div class="link">
              <%= link_to_add_association "Add ingredient", f, :ingredients, 
                class: "btn blue"%>
            </div>
          <% end %>
        </div>
    </div>
    <div class="col m6">
      <h3>Directions</h3>
      <div id="directions">
        <%= f.simple_fields_for :directions do |direction| %>
          <%= render 'direction_fields', f: direction %>
          <div class="link">
            <%= link_to_add_association "Add direction", f, :directions, 
              class: "btn blue"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= f.button :submit, class: "blue" %>
<% end %>
<p><%= link_to "Back", root_path, class: "btn blue" %></p>